.Sidebar {
	height: 100%;
	width: 250px;
	background-color: #2F4050;
}

.SidebarList {
	height: auto;
	padding: 0;
	width: 100%,
}

.SidebarList .row {
	width: 100%;
	height: 50px;
	border: 1px solid black;
	list-style-type: none;
	margin: 0px;
	display: flex;
	flex-direction: row;
	color: white;
	justify-content: center;
	align-items: center;

}

.SidebarList .row:hover {
	cursor: pointer;
	background-color: #293846;
}
.SidebarList.row #active {
	background-color: #293846;
}
.row #icon {
	flex: 30%; 
	display: grid;
	place-items: center;		
}